---

import Layout from '../layouts/Layout.astro';

import { Schema } from "astro-seo-schema"

import Worm from '../components/svg/graphics/Worm.astro'

import LabsShape from '../components/svg/psai-group-shapes/LabsShape.astro';
import EventsShape from '../components/svg/psai-group-shapes/EventsShape.astro'
import DevShape from '../components/svg/psai-group-shapes/DevShape.astro';
import FoundationShape from '../components/svg/psai-group-shapes/FoundationShape.astro';
import EducationShape from '../components/svg/psai-group-shapes/EducationShape.astro';
import ConsultingShape from '../components/svg/psai-group-shapes/ConsultingShape.astro';

import '../css/psai-group.css'

import PsaiLogo from '../components/PsaiLogo.astro'
---

<Layout logoAnchorTheme="dark" nofooter noheader>
    <main>
        <section class="centered padding">
            <div class="ctnr">
                <!-- <h1>
                    <PsaiLogo group="group"/>
                </h1> -->
        
                <ul class="groups slow_reveal">
                    <li class="consulting">
                        <a href="/consulting/">
                            <ConsultingShape/>
                            <PsaiLogo group="consulting"/>
                            <h2 class="def">Embrace innovation.<br/>Define the future.</h2>
                        </a>
                    </li>
                    
                    <li class="dev">
                        <a href="/dev/">
                            <DevShape/>
                            <PsaiLogo group="dev"/>
                            <h2 class="def">Unleash innovation. Craft the future.<br/>Navigate the AI landscape with precision.</h2>
                        </a>
                    </li>
                    
                    <li class="labs">
                        <a href="/labs/">
                            <LabsShape/>
                            <PsaiLogo group="labs"/>
                            <h2 class="def">Empower growth. Enable innovation.<br/>Foster a future-ready workforce.</h2>
                        </a>
                    </li>
                    
                    <li class="events">
                        <a href="/events/">
                            <EventsShape/>
                            <PsaiLogo group="events"/>
                            <h2 class="def">Connect. Share. Inspire.<br/>Building the AI community one event at a time.</h2>
                        </a>
                    </li>
                    
                    <li class="foundation">
                        <a href="/foundation/">
                            <FoundationShape/>
                            <PsaiLogo group="foundation"/>
                            <h2 class="def">Research. Innovate. Apply.<br/>Bridging the gap between theory and practice in AI.</h2>
                        </a>
                    </li>
                    
                    <li class="education">
                        <a href="/education/">
                            <EducationShape/>
                            <PsaiLogo group="education"/>
                            <h2 class="def">Learn. Understand. Implement.<br/>Making AI accessible to all.</h2>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</Layout>