---
    const { group } = Astro.props;

    import '../css/footer.css'

    import { Image, getImage } from 'astro:assets';
	import Logo from '../components/svg/Logo.astro';

	import Stripe from './Stripe.astro';

    import Worm from './svg/graphics/Worm.astro';

    import PsaiLogo from '../components/PsaiLogo.astro'
---

<footer>
    <div class="width1">
        <div class="about">
            <PsaiLogo group="group"/>
    
            <p class="tagline">Transform tomorrow’s uncertainties into identifiable opportunities.</p>
    
            <p class="legal">Copyright © 2024 psAI Consulting</p>

            <div class="groups">
                <a href="/consulting/">psAI Consulting</a>

                <hr/>

                <a href="/dev/">psAI Dev</a>

                <hr/>

                <a href="/labs/">psAI Labs</a>

                <hr/>

                <a href="/events/">psAI Events</a>

                <hr/>

                <a href="/foundation/">psAI Foundation</a>

                <hr/>

                <a href="/education/">psAI Education</a>
            </div>
        </div>
    
        <nav>
            <a href="/#home">Home</a>

            <a href="/services/">Services</a>
        
            <a href="/#why-psai">Why psAI</a>
        
            <a href="/#the-psai-edge">The psAI edge</a>
        
            <a href="/podcast">Podcast</a>
        
            <a href="/reports">Reports</a>
        
            <button type="button" class="contact_bt">Contact us</button>
        </nav>

        <!-- <div class="contact"></div> -->
    </div>
</footer>

<Stripe type="footer"/>